// _base.scss

// variables
//----------------------------------------------
$color-gradient-a: rgba(black, 0.4);
$color-gradient-b: rgba(black, 0);
//----------------------------------------------


// mixins
//----------------------------------------------
%clearfix {
	&:before,
	&:after{content:"";display:table;}
	&:after{clear:both;}
	&{zoom:1;}
}
@mixin headerGradient{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, $color-gradient-a),
		color-stop(1, $color-gradient-b)
	);
	background-image:      -o-linear-gradient(bottom, $color-gradient-a 0%, $color-gradient-b 100%);
	background-image:    -moz-linear-gradient(bottom, $color-gradient-a 0%, $color-gradient-b 100%);
	background-image: -webkit-linear-gradient(bottom, $color-gradient-a 0%, $color-gradient-b 100%);
	background-image:     -ms-linear-gradient(bottom, $color-gradient-a 0%, $color-gradient-b 100%);
	background-image:      linear-gradient(to bottom, $color-gradient-a 0%, $color-gradient-b 100%);
}

@mixin animate {
	-webkit-transition: all ease 0.1s;
	   -moz-transition: all ease 0.1s;
	     -o-transition: all ease 0.1s;
	        transition: all ease 0.1s;
	// -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
	//     -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
	//         transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}

@mixin ico {
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
//----------------------------------------------
html {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	   -moz-box-sizing: inherit;
			box-sizing: inherit;
}
//----------------------------------------------

body {
	background: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}
//----------------------------------------------

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

form {
	legend {
		display: none;
	}
}
//----------------------------------------------


::-webkit-input-placeholder { color: #ddd; line-height: inherit; font-size: inherit; }
          :-moz-placeholder { color: #ddd; line-height: inherit; font-size: inherit; }
         ::-moz-placeholder { color: #ddd; line-height: inherit; font-size: inherit; }
     :-ms-input-placeholder { color: #ddd; line-height: inherit; font-size: inherit; }

:focus::-webkit-input-placeholder { color: #eee; }
          :focus:-moz-placeholder { color: #eee; }
         :focus::-moz-placeholder { color: #eee; }
     :focus:-ms-input-placeholder { color: #eee; }
//----------------------------------------------
form {
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
	padding: 50px;
}
label {
	display: block;
	padding: 20px 10px 5px;
}
input {
	display: block;
	width: 100%;
	padding: 0 10px;
	line-height: 50px;
	background: #eee;
	box-shadow: inset 1px 1px 3px rgba(#000, 0.1);
	border: none;
	// border: 2px solid #red;
	border-radius: 3px;
	&:focus {
		outline: none;
	}
}

