//_reset.scss

html { margin: 0; font-size: 100%; font: inherit }
html, body { padding: 0; border: 0; vertical-align: baseline }
body, div, span, applet, object, iframe { margin: 0; font-size: 100% }
div, span, applet, object, iframe, h1, h2, h3, h4 { padding: 0; border: 0; font: inherit; vertical-align: baseline }
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
body { line-height: 1.4; height: 100% }
ol, ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
table { border-collapse: collapse; border-spacing: 0 }
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: sans-serif }
html, button, input, select, textarea { color: #222 }
button { cursor: pointer }
input, button { font-size: inherit; }
::-webkit-input-placeholder { color: inherit }
:-moz-placeholder, ::-moz-placeholder { color: inherit }
:-ms-input-placeholder { color: inherit }