<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>banamatrix</display-name>
  <listener>
    <listener-class>com.betbrain.odds.web.servlet.BBContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.betbrain.odds.web.servlet.BBSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.betbrain.odds.web.servlet.BBRequestListener</listener-class>
  </listener>
  <filter>
    <filter-name>RequestFilter</filter-name>
    <filter-class>com.betbrain.filters.RequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>textCacheFilter</filter-name>
    <filter-class>com.betbrain.odds.web.servlet.TextCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>textCacheFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>validating</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>convertNull</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>factory</param-name>
      <param-value>com.betbrain.struts.BBMessageResources</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XlsServlet</servlet-name>
    <servlet-class>com.betbrain.adf88.report.servlets.XLSServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdfServlet</servlet-name>
    <servlet-class>com.betbrain.adf88.report.servlets.PDFServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>htmlForBanner</servlet-name>
    <servlet-class>com.betbrain.adf88.placement.publish.HtmlForBannerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dataForBanner</servlet-name>
    <servlet-class>com.betbrain.adf88.placement.publish.DataForBannerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>placementPublish</servlet-name>
    <servlet-class>com.betbrain.adf88.placement.publish.PlacementPublishServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PMReportAPI</servlet-name>
    <servlet-class>com.betbrain.adf88.report.PMReportAPI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>multiImpresionCounter</servlet-name>
    <servlet-class>com.betbrain.adf88.placement.publish.MultiImpresionCounterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>monitor</servlet-name>
    <servlet-class>com.betbrain.adf88.monitoring.MonitorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>placementAlert</servlet-name>
    <servlet-class>org.claros.intouch.profiling.services.PlacementAffCheckService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lastUpdate</servlet-name>
    <servlet-class>com.betbrain.odds.web.struts.serverInfo.LastUpdateInfoAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>requestHandler</servlet-name>
    <servlet-class>com.betbrain.odds.web.struts.serverInfo.RequestHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lastUpdateBRM</servlet-name>
    <servlet-class>com.betbrain.adf88.brm.LastUpdateBRMAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logParser</servlet-name>
    <servlet-class>com.betbrain.adf88.utils.LogParserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jcaptcha</servlet-name>
    <servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jcaptcha</servlet-name>
    <url-pattern>/jcaptcha/jcaptcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>htmlForBanner</servlet-name>
    <url-pattern>/servlets/htmlForBanner</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dataForBanner</servlet-name>
    <url-pattern>/servlets/dataForBanner</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>placementPublish</servlet-name>
    <url-pattern>/placement.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PMReportAPI</servlet-name>
    <url-pattern>/pmReport.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>multiImpresionCounter</servlet-name>
    <url-pattern>/multiImpresionCounter.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>monitor</servlet-name>
    <url-pattern>/servlets/monitor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>placementAlert</servlet-name>
    <url-pattern>/servlets/placementAlert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lastUpdate</servlet-name>
    <url-pattern>/servlets/lastUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>requestHandler</servlet-name>
    <url-pattern>/servlets/requestHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lastUpdateBRM</servlet-name>
    <url-pattern>/servlets/lastUpdateBRM</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logParser</servlet-name>
    <url-pattern>/servlets/logParser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlets/image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XlsServlet</servlet-name>
    <url-pattern>/servlets/xls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfServlet</servlet-name>
    <url-pattern>/servlets/pdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>org.claros.intouch.profiling.services.LoginService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListHeadersService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.ListHeadersService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FetchMailService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.FetchMailService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetFoldersService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.GetFoldersService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DumpPartService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.DumpPartService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMailService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.DeleteMailService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MoveMailsService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.MoveMailsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AutoCompleteService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.AutoCompleteService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendMailService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.SendMailService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendReadReceiptMailService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.SendReadReceiptMailService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadAttachmentService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.UploadAttachmentService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAllAttachmentsService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.DeleteAllAttachmentsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveDraftService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.SaveDraftService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAttachmentService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.DeleteAttachmentService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetHeaderInfoService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.GetHeaderInfoService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUnreadCountService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.GetUnreadCountService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllHeadersService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.GetAllHeadersService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateMailFolderService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.CreateMailFolderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RenameMailFolderService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.RenameMailFolderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMailFolderService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.DeleteMailFolderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmptyMailFolderService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.EmptyMailFolderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttForwardArrangeService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.AttForwardArrangeService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SavePreferencesService</servlet-name>
    <servlet-class>org.claros.intouch.preferences.services.SavePreferencesService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadPreferencesService</servlet-name>
    <servlet-class>org.claros.intouch.preferences.services.LoadPreferencesService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetListService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.GetListService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetContactDetailsService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.GetContactDetailsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveContactService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.SaveContactService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteContactService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.DeleteContactService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportVcardService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.ExportVcardService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportAllContactsService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.ExportAllContactsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportContactsService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.ImportContactsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveSenderService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.SaveSenderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveCheckContactService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.SaveCheckContactService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateNewNoteService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.CreateNewNoteService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeColorService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.ChangeColorService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetPosService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.SetPosService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveNoteService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.SaveNoteService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteNoteService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.DeleteNoteService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetNotesByFolderService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.GetNotesByFolderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetNotebooksService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.GetNotebooksService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNotebookService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.AddNotebookService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteNotebookService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.DeleteNotebookService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRssItemsService</servlet-name>
    <servlet-class>org.claros.intouch.rss.services.GetRssItemsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListNewMailHeadersService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.ListNewMailHeadersService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImapIdleCheckService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.ImapIdleCheckService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetEventService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.GetEventService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveEventService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.SaveEventService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteEventService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.DeleteEventService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetEventsService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.GetEventsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTasksService</servlet-name>
    <servlet-class>org.claros.intouch.tasks.services.GetTasksService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTaskService</servlet-name>
    <servlet-class>org.claros.intouch.tasks.services.DeleteTaskService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClickTaskService</servlet-name>
    <servlet-class>org.claros.intouch.tasks.services.ClickTaskService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveTaskService</servlet-name>
    <servlet-class>org.claros.intouch.tasks.services.SaveTaskService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTaskService</servlet-name>
    <servlet-class>org.claros.intouch.tasks.services.GetTaskService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckAlertService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.CheckAlertService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetReminderToOkService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.SetReminderToOkService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckAlertBatchService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.CheckAlertBatchService</servlet-class>
    <load-on-startup>7</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GetFileListService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.GetFileListService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowImgPreviewService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.ShowImgPreviewService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.DownloadService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteItemService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.DeleteItemService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RenameItemService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.RenameItemService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MoveItemService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.MoveItemService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForwardFileService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.ForwardFileService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateDirService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.CreateDirService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RenameDirService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.RenameDirService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFileService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.UploadFileService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/mail/profiling/login.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListHeadersService</servlet-name>
    <url-pattern>/mail/webmail/listHeaders.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FetchMailService</servlet-name>
    <url-pattern>/mail/webmail/fetchMail.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFoldersService</servlet-name>
    <url-pattern>/mail/webmail/getFolders.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DumpPartService</servlet-name>
    <url-pattern>/mail/webmail/dumpPart.service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMailService</servlet-name>
    <url-pattern>/mail/webmail/deleteMail.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MoveMailsService</servlet-name>
    <url-pattern>/mail/webmail/moveMails.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoCompleteService</servlet-name>
    <url-pattern>/mail/webmail/autocomplete.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMailService</servlet-name>
    <url-pattern>/mail/webmail/sendMail.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendReadReceiptMailService</servlet-name>
    <url-pattern>/mail/webmail/sendReadReceiptMail.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadAttachmentService</servlet-name>
    <url-pattern>/mail/webmail/uploadAttachment.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAllAttachmentsService</servlet-name>
    <url-pattern>/mail/webmail/deleteAllAttachments.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveDraftService</servlet-name>
    <url-pattern>/mail/webmail/saveDraft.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAttachmentService</servlet-name>
    <url-pattern>/mail/webmail/deleteAttachment.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetHeaderInfoService</servlet-name>
    <url-pattern>/mail/webmail/getHeaderInfo.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUnreadCountService</servlet-name>
    <url-pattern>/mail/webmail/getUnreadCount.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllHeadersService</servlet-name>
    <url-pattern>/mail/webmail/getAllHeaders.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateMailFolderService</servlet-name>
    <url-pattern>/mail/webmail/createFolder.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RenameMailFolderService</servlet-name>
    <url-pattern>/mail/webmail/renameFolder.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMailFolderService</servlet-name>
    <url-pattern>/mail/webmail/deleteFolder.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmptyMailFolderService</servlet-name>
    <url-pattern>/mail/webmail/emptyFolder.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttForwardArrangeService</servlet-name>
    <url-pattern>/mail/webmail/attForwardArrange.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SavePreferencesService</servlet-name>
    <url-pattern>/mail/preferences/savePreferences.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadPreferencesService</servlet-name>
    <url-pattern>/mail/preferences/loadPreferences.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetListService</servlet-name>
    <url-pattern>/mail/contacts/getList.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetContactDetailsService</servlet-name>
    <url-pattern>/mail/contacts/getContactDetails.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveContactService</servlet-name>
    <url-pattern>/mail/contacts/saveContact.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteContactService</servlet-name>
    <url-pattern>/mail/contacts/deleteContact.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportVcardService</servlet-name>
    <url-pattern>/mail/contacts/exportVcard.service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportAllContactsService</servlet-name>
    <url-pattern>/mail/contacts/exportAllContacts.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportContactsService</servlet-name>
    <url-pattern>/mail/contacts/importContacts.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveSenderService</servlet-name>
    <url-pattern>/mail/webmail/saveSender.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveCheckContactService</servlet-name>
    <url-pattern>/mail/contacts/saveCheckContact.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateNewNoteService</servlet-name>
    <url-pattern>/mail/notes/createNewNote.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeColorService</servlet-name>
    <url-pattern>/mail/notes/changeColor.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetPosService</servlet-name>
    <url-pattern>/mail/notes/setPos.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveNoteService</servlet-name>
    <url-pattern>/mail/notes/saveNote.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteNoteService</servlet-name>
    <url-pattern>/mail/notes/deleteNote.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNotesByFolderService</servlet-name>
    <url-pattern>/mail/notes/getNotesByFolder.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNotebooksService</servlet-name>
    <url-pattern>/mail/notes/getNotebooks.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNotebookService</servlet-name>
    <url-pattern>/mail/notes/addNotebook.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteNotebookService</servlet-name>
    <url-pattern>/mail/notes/deleteNotebook.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRssItemsService</servlet-name>
    <url-pattern>/mail/rss/getRssItems.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListNewMailHeadersService</servlet-name>
    <url-pattern>/mail/webmail/listNewMailHeaders.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImapIdleCheckService</servlet-name>
    <url-pattern>/mail/webmail/imapIdleCheck.service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEventService</servlet-name>
    <url-pattern>/mail/calendar/getEvent.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveEventService</servlet-name>
    <url-pattern>/mail/calendar/saveEvent.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEventService</servlet-name>
    <url-pattern>/mail/calendar/deleteEvent.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEventsService</servlet-name>
    <url-pattern>/mail/calendar/getEvents.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTasksService</servlet-name>
    <url-pattern>/mail/tasks/getTasks.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTaskService</servlet-name>
    <url-pattern>/mail/tasks/deleteTask.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClickTaskService</servlet-name>
    <url-pattern>/mail/tasks/clickTask.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveTaskService</servlet-name>
    <url-pattern>/mail/tasks/saveTask.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTaskService</servlet-name>
    <url-pattern>/mail/tasks/getTask.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckAlertService</servlet-name>
    <url-pattern>/mail/calendar/checkAlert.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetReminderToOkService</servlet-name>
    <url-pattern>/mail/calendar/setReminderOk.cl</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>doc</extension>
    <mime-type>application/msword</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/index.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/internalerror.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/javaError.jsp</location>
  </error-page>
  <error-page>
    <exception-type>com.betbrain.adf88.utils.LoginException</exception-type>
    <location>/index.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/tags/jstl-c.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/jstl1.1/c-1_0-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tags/jstl-fn.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/jstl1.1/fn.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tags/jstl-fmt.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/jstl1.1/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tags/struts-bean.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts1.2.2/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tags/struts-html.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts1.2.2/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tags/struts-logic.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts1.2.2/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tags/struts-nested.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts1.2.2/struts-nested.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tags/struts-template.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts1.2.2/struts-template.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tags/struts-tiles.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts1.2.2/struts-tiles.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tags/textCache.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/textCache.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tags/util.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/util.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://jakarta.apache.org/taglibs/i18n-1.0</taglib-uri>
      <taglib-location>/WEB-INF/tld/i18n.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/jsp/jspf/taglibInclude.jspf</include-prelude>
      <include-prelude>/jsp/jspf/bufferSize.jspf</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <resource-env-ref>
    <description>Object factory for BBBeanInitializer instances.</description>
    <resource-env-ref-name>bean/BBBeanInitializer</resource-env-ref-name>
    <resource-env-ref-type>com.betbrain.odds.web.servlet.BBBeanInitializer</resource-env-ref-type>
  </resource-env-ref>
</web-app>